.top10ukcasinolist-review-title,
.top10ukcasinolist-value {
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box
}

br,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
small,
span,
ul {
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	pointer-events: none
}

a,
button {
	user-select: none;
	pointer-events: auto
}

img {
	pointer-events: none;
	-webkit-user-drag: none
}

body {
	background-image: url('../images/top_tenuk_casino_list_background57O6Ysv_InaGe.webp');
	background-repeat: no-repeat;
	background-position: left 20% center;
	background-size: cover;
	height: auto;
	position: relative;
	z-index: 1;
	background-attachment: fixed
}

body::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background: rgba(0, 0, 0, .575);
	height: 100%
}

canvas.particles-js-canvas-el {
	width: 100px !important;
	height: 85px !important
}

.top10ukcasinolist-disclaimer {
	box-shadow: 0 16px 80px 0 rgba(101, 77, 255, .171);
	width: 100%;
	overflow: hidden;
	background: #fff;
	text-align: center;
	border-bottom: 1px solid #161616a6;
	z-index: 9999
}

.top10ukcasinolist-disclaimer>p {
	font-family: Montserrat, serif;
	color: #000;
	font-size: 13px;
	font-weight: 600;
	line-height: 24px;
	font-style: normal;
	margin: 0;
	padding: 5px 0
}

.top10ukcasinolist-disclaimer>p>a {
	color: #161616
}

.top10ukcasinolist-disclaimer>p>img {
	width: 24px;
	position: relative;
	top: -1px;
	margin-right: 2px
}

.top10ukcasinolist-banner-content>h1 {
	font-family: Montserrat, serif;
	color: #fff;
	font-size: 34px;
	font-weight: 600;
	margin: 0;
	padding: 20px 0 10px
}

.top10ukcasinolist-banner-content>p {
	font-family: Montserrat, serif;
	color: #fff;
	font-size: 15px;
	line-height: 22px;
	letter-spacing: .2px;
	font-weight: 500;
	margin: 0;
	padding: 0
}

.top10ukcasinolist-trust-area {
	display: flex;
	align-items: center;
	gap: 14px;
	margin: 25px 0 10px
}

.top10ukcasinolist-trust-card {
	display: flex;
	align-items: center;
	gap: 8px
}

.top10ukcasinolist-trust-card>img {
	width: 36px
}

.top10ukcasinolist-trust-card>p {
	font-family: Poppins, sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	margin: 0;
	font-style: italic
}

.top10ukcasinolist-list-table {
	padding: 30px 0 10px
}

.top10ukcasinolist-table-card {
	display: flex;
	gap: 24px;
	position: relative;
	overflow: hidden;
	background-color: #2c2872;
	cursor: pointer
}

.top10ukcasinolist-wrapper-flex {
	background: #fff;
	padding-bottom: 1px
}

.top10ukcasinolist-table-card .sparkle {
	position: absolute;
	width: 4px;
	height: 4px;
	background: radial-gradient(circle, #48ff00 0, rgba(255, 255, 255, 0) 70%);
	border-radius: 50%;
	animation: 3s linear infinite sparkleAnimation;
	opacity: 0;
	pointer-events: none
}

.top10ukcasinolist-table-card.position-1 .sparkle {
	opacity: 1
}

@keyframes sparkleAnimation {
	0% {
		transform: translate(0, 0) scale(.5);
		opacity: 0
	}

	20% {
		opacity: .8
	}

	50% {
		opacity: 1;
		transform: translate(calc(-50px + 100px * var(--x)), calc(-50px + 100px * var(--y))) scale(1.2)
	}

	100% {
		transform: translate(calc(-50px + 200px * var(--x)), calc(-50px + 200px * var(--y))) scale(.8);
		opacity: 0
	}
}

.top10ukcasinolist-logoWrapper {
	position: relative;
	flex-shrink: 0;
	left: 0
}

.top10ukcasinolist-logoImg img {
	width: 230px;
	height: 134px;
	border-radius: 3px 0 0 3px;
	object-fit: contain;
	position: relative;
	top: 6px
}

.top10ukcasinolist-level {
	position: absolute;
	top: 0;
	left: 0;
	background: #83ff00;
	z-index: 1;
	border-bottom-right-radius: 15px;
	width: 140px;
	height: 22px;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
	color: #000;
	letter-spacing: .4px;
	padding: 1px 0;
	font-family: Poppins, sans-serif
}

.top10ukcasinolist-btnCard,
.top10ukcasinolist-review-title,
.top10ukcasinolist-value {
	font-weight: 700;
	line-height: 1;
	overflow: hidden
}

.top10ukcasinolist-cardBody {
	display: grid;
	align-items: center;
	width: 100%;
	margin-right: 12px;
	grid-template-columns: auto 350px 200px;
	grid-template-rows: auto;
	gap: 0 18px;
	grid-template-areas: "title facts cta-btn"
}

.top10ukcasinolist-cardBonusTitle p {
	font-family: Montserrat, serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
	align-items: center;
	margin-bottom: 0;
	color: #fff;
	text-align: center;
	animation: 3s ease-in-out infinite colorPulse;
	font-style: italic
}

.top10ukcasinolist-cardBonusTitle p>span {
	font-size: 18px;
	color: #83ff00;
	font-family: Poppins, sans-serif;
	font-weight: 600
}

@keyframes colorPulse {

	0%,
	100% {
		color: #ddd
	}

	33% {
		color: #eaecec
	}

	66% {
		color: #f7f7f7
	}
}

.top10ukcasinolist-ratingsWrapper {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin-right: 0;
	grid-area: facts;
	gap: 16px;
	position: relative;
	top: 4px
}

.top10ukcasinolist-review-grid {
	display: flex;
	align-items: center;
	flex-direction: column-reverse;
	justify-content: center;
	width: 120px;
	position: relative;
	top: 6px
}

.top10ukcasinolist-rating-star>ul {
	padding: 0;
	margin: 0
}

.top10ukcasinolist-rating-star>ul>li {
	list-style: none;
	display: inline-flex;
	color: #ffd915;
	font-size: 16px
}

.top10ukcasinolist-rating span {
	font-size: 14px
}

.top10ukcasinolist-review-title {
	font-family: Poppins, sans-serif;
	font-size: 11px;
	width: 100%;
	height: 25px;
	margin-top: 0;
	letter-spacing: .03em;
	text-transform: uppercase;
	color: #fff
}

.top10ukcasinolist-value {
	font-size: 26px;
	width: 100%;
	height: 35px;
	color: #fff;
	word-spacing: 1px
}

.top10ukcasinolist-value>span {
	font-size: 13px
}

.top10ukcasinolist-btn-area {
	align-self: flex-start;
	flex-shrink: 0;
	margin-top: 28px;
	grid-area: cta-btn
}

.top10ukcasinolist-btnCard {
	font-family: Poppins, sans-serif;
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 44px;
	padding: 0;
	color: #222;
	border-radius: 24px;
	background: #83ff00;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	top: 15px;
	transition: .6s
}

.top10ukcasinolist-btnCard:hover {
	color: #000
}

a.top10ukcasinolist-btnCard>img {
	padding: 0;
	opacity: .3;
	position: absolute;
	left: 4px;
	top: 2px
}

.top10ukcasinolist-bonus-bottom-offer {
	margin-bottom: 8px;
	background: #ebebeb
}

.top10ukcasinolist-bonus-bottom-offer>p {
	font-family: Montserrat, serif;
	font-size: 9px;
	color: #000;
	line-height: 12px;
	margin: 0;
	padding: 6px 40px;
	font-weight: 600;
	text-align: center;
	border-bottom: 1px solid #0c0c0c1c
}

.top10ukcasinolist-bonus-bottom-offer>p>button {
	font-size: 10px
}

.top10ukcasinolist-servicesContext {
	background: #fff;
	padding: 37px 51px
}

h2.top10ukcasinolist-servicesTitle {
	font-family: Poppins, sans-serif;
	color: #000;
	font-weight: 600;
	font-size: 30px;
	margin: 10px 0 15px
}

p.top10ukcasinolist-wrapper-p {
	font-family: Montserrat, serif;
	font-size: 14px;
	color: #383737;
	line-height: 20px;
	font-weight: 500;
	margin: 15px 0 45px
}

.top10ukcasinolist-listIconWrap {
	display: flex;
	gap: 16px;
	justify-items: flex-start;
	margin-bottom: 25px;
	padding: 15px;
	background: linear-gradient(109.6deg, rgb(0 78 79) 11.2%, rgb(0 103 104) 51.2%, #000 98.6%);
	border-radius: 100px
}

.top10ukcasinolist-iconPhoto {
	border-radius: 10px;
	min-width: 70px;
	height: 65px;
	text-align: center
}

.top10ukcasinolist-iconPhoto>img {
	width: 50px;
	height: 50px;
	position: relative;
	top: 50%;
	transform: translateY(-27px)
}

.top10ukcasinolist-list-text>h3 {
	font-family: Poppins, sans-serif;
	font-size: 16px;
	font-weight: 600;
	margin: 0;
	color: #fff
}

.top10ukcasinolist-list-text>p {
	font-family: Montserrat, serif;
	font-size: 14px;
	font-weight: 500;
	padding: 10px 0;
	margin: 0;
	color: #f1f1f1;
	line-height: 20px
}

.top10ukcasinolist-aboutText {
	background: #fff;
	padding: 37px 51px;
	margin: 40px 0
}

.top10ukcasinolist-aboutText>h2 {
	font-family: Poppins, sans-serif;
	font-size: 30px;
	font-weight: 600;
	margin: 10px 0 15px;
	color: #000
}

.top10ukcasinolist-aboutText>h3 {
	font-family: Poppins, sans-serif;
	font-size: 18px;
	font-weight: 600;
	margin: 15px 0 5px;
	color: #000
}

.top10ukcasinolist-aboutText>p,
.top10ukcasinolist-aboutText>ul>li {
	font-family: Poppins, sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 10px 0;
	margin: 0;
	color: #383737;
	line-height: 22px
}

.top10ukcasinolist-subpages {
	padding: 25px 0;
	background: #fff;
	margin-top: 40px
}

h2.top10ukcasinolist-sub-title {
	color: #000;
	font-size: 36px;
	font-weight: 700;
	line-height: 44px;
	font-style: normal;
	padding-bottom: 12px;
	font-family: Poppins, sans-serif
}

.top10ukcasinolist-subpages-context>h5 {
	color: #2b2b2b;
	font-size: 20px;
	font-weight: 600;
	line-height: 22px;
	font-style: normal;
	padding: 10px 0;
	margin: 0;
	font-family: Poppins, sans-serif
}

.top10ukcasinolist-subpages-context>p,
.top10ukcasinolist-subpages-context>ul>li {
	color: #222;
	line-height: 22px;
	font-style: normal;
	padding-top: 5px;
	margin: 0;
	font-family: Montserrat, serif;
	font-size: 14px;
	font-weight: 400
}

.top10ukcasinolist-subpages-context>p {
	padding-bottom: 15px
}

.top10ukcasinolist-subpages-context>ul>li {
	padding-bottom: 5px
}

.top10ukcasinolist-footer {
	padding: 40px 50px;
	background: #000
}

.top10ukcasinolist-footer-logo {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.row.top10ukcasinolist-footer-content-b,
.row.top10ukcasinolist-footer-content-top.pb-4 {
	width: 100%;
	margin: 0 auto;
	max-width: 1365px
}

.footer-license-images img {
	padding: 10px 0 20px;
}

.top10ukcasinolist-footer-link>ul>li>a,
.top10ukcasinolist-footer-text>p {
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 12px;
	color: #c2c2c2;
	font-style: normal;
	margin: 0;
	font-family: Montserrat, serif;
	word-spacing: 1px
}

footer img.top10ukcasinolist-footer-ico {
	max-width: 160px
}

.top10ukcasinolist-footer-logo>img:first-child {
	width: 50px;
	height: 50px
}

img.top10ukcasinolist-footer-ico.anj-logo {
	width: 110px
}

.top10ukcasinolist-footer-text>p {
	font-weight: 400;
	line-height: 20px
}

hr {
	margin: 1rem 0;
	color: inherit;
	border: 0;
	border-top: 1px solid #dcdcdc !important;
	opacity: .35 !important
}

.top10ukcasinolist-footer-link>ul {
	padding: 0;
	list-style: none;
	display: flex;
	gap: 8px;
	justify-content: center
}

.top10ukcasinolist-footer-link>ul>li>a {
	font-weight: 500;
	line-height: 32px;
	text-transform: uppercase
}

.top10ukcasinolist-footer-link>ul>li>a:hover {
	color: #0d61fd;
	text-decoration: underline
}

.top10ukcasinolist-copyright {
	color: #c2c2c2;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	font-style: normal;
	padding-top: 10px;
	padding-bottom: 0;
	margin: 0;
	font-family: Montserrat, serif;
	word-spacing: 1px;
	text-decoration: none;
	text-align: center
}

img.top10ukcasinolist-footer-ico.topuk_footerLogo_2 {
    width: 62px;
}

img.top10ukcasinolist-footer-ico.anj-logo.topuk_footerLogo_3 {
    width: 166px;
}

img.top10ukcasinolist-footer-ico.topuk_footerLogo_4 {
    max-width: 118px;
}

img.top10ukcasinolist-footer-ico.topuk_footerLogo_5 {
    max-width: 86px;
}

img.top10ukcasinolist-footer-ico.topuk_footerLogo_6 {
    max-width: 302px;
}